<div class="container">

  <header class="navbar" [ngClass]="isDarkTheme ? 'dark' : 'light'">

    <section class="navbar-left">
      <mat-icon class="menu-icon" [ngClass]="isDarkTheme ? 'dark' : 'light'" (click)="toggleSidebar()">menu</mat-icon>
      <!-- <img src="assets/img/UvSaludV3.png" alt="Logo" class="logo"> -->
    </section>

    <section class="navbar-middle">
      <div class="clock-container">
        <span class="clock-time">{{ currentDate | date:'shortTime' }}</span>
        <span class="clock-date">{{ currentDate | date:'mediumDate' }}</span>
      </div>
    </section>

    <div class="user-profile-container">
      <section class="navbar-right">
        <label>{{nombre}}</label>
        <img src="assets/img/Perfil.jpg" alt="Logo" class="profile-image">
      </section>

      <div class="dropdown-menu" [ngClass]="isDarkTheme ? 'dark' : 'light'">
        <!-- <button mat-button class="dropdown-item">Prueba</button> -->
        <div class="theme-toggle-wrapper">
          <span>Modo {{ isDarkTheme ? 'Oscuro' : 'Claro' }}</span>
          <mat-slide-toggle (change)="toggleDarkTheme($event.checked)" [checked]="isDarkTheme"
            class="theme-toggle-container">
            <mat-icon class="theme-toggle" [ngClass]="isDarkTheme ? 'dark' : 'light'">
              {{ isDarkTheme ? 'dark_mode' : 'light_mode' }}
            </mat-icon>
          </mat-slide-toggle>
        </div>
      </div>
    </div>

  </header>

  <section class="main-content" [ngClass]="isDarkTheme ? 'dark' : 'light'" [class.expanded]="isSidebarExpanded">

    <aside class="sidenav" [ngClass]="isDarkTheme ? 'dark' : 'light'">

      <div class="nav-list-top">

        <a routerLink="home" class="links" routerLinkActive="active-link" [ngClass]="isDarkTheme ? 'dark' : 'light'"
          [routerLinkActiveOptions]="{ exact: false }"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">home</mat-icon>
          <span *ngIf="isSidebarExpanded" class="link-text">Inicio</span>
        </a>

        <a *ngIf="authService.tienePermiso('pacientes', 'Ver')" routerLink="pacientes" class="links"
          routerLinkActive="active-link" [ngClass]="isDarkTheme ? 'dark' : 'light'"
          [routerLinkActiveOptions]="{ exact: false }"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">medical_information</mat-icon>
          <span *ngIf="isSidebarExpanded" class="link-text">Pacientes</span>
        </a>

        <a *ngIf="authService.tienePermiso('usuarios', 'Ver')" routerLink="usuarios" class="links"
          routerLinkActive="active-link" [ngClass]="isDarkTheme ? 'dark' : 'light'"
          [routerLinkActiveOptions]="{ exact: false }"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">people</mat-icon>
          <span *ngIf="isSidebarExpanded" class="link-text">Usuarios</span>
        </a>

        <a *ngIf="authService.tienePermiso('roles', 'Ver')" routerLink="roles" class="links"
          routerLinkActive="active-link" [ngClass]="isDarkTheme ? 'dark' : 'light'"
          [routerLinkActiveOptions]="{ exact: false }"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">description</mat-icon>
          <span *ngIf="isSidebarExpanded" class="link-text">Roles</span>
        </a>

      </div>

      <div class="nav-list-bottom">
        <a (click)="openDialog('1000ms', '0ms')" class="links logout"
          [ngClass]="isDarkTheme ? 'dark' : 'light'"><mat-icon class="icons"
            [ngClass]="isDarkTheme ? 'dark' : 'light'">logout</mat-icon>
          <span *ngIf="isSidebarExpanded" class="link-text">Cerrar Sesión</span>
        </a>
      </div>

    </aside>

    <div class="backdrop" *ngIf="isSidebarExpanded" (click)="toggleSidebar()"></div>

    <div class="content" [ngClass]="isDarkTheme ? 'dark' : 'light'"><router-outlet></router-outlet></div>

  </section>

</div>