<div>
    <mat-tab-group animationDuration="0s" class="Formulario" color="accent">

        <!-- Información Personal -->
        <mat-tab label="Información Personal">
            <form [formGroup]="usuarioForm" class="seccion" autocomplete="off">

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Nombre completo</mat-label>
                    <input matInput formControlName="nombre" autocomplete="nombre">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>CURP</mat-label>
                    <input matInput formControlName="curp" autocomplete="off" maxlength="18">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>RFC</mat-label>
                    <input matInput formControlName="rfc" autocomplete="off" maxlength="13">
                </mat-form-field>

                <div class="checkbox-container">
                    <mat-checkbox formControlName="pasante" color="primary">Pasante</mat-checkbox>
                </div>

                <mat-form-field class="form-field" color="accent" *ngIf="!usuarioForm.get('pasante')?.value">
                    <mat-label>Cédula profesional</mat-label>
                    <input matInput formControlName="cedulaProfesional" autocomplete="off" maxlength="8">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent" *ngIf="!usuarioForm.get('pasante')?.value">
                    <mat-label>Especialidad</mat-label>
                    <input matInput formControlName="especialidad" autocomplete="off" maxlength="50">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Número de teléfono</mat-label>
                    <span matTextPrefix style="color: gray;">+52 &nbsp;</span>
                    <input matInput formControlName="telefono" (paste)="onPaste($event, 10)"
                        (keypress)="blockInvalidChars($event, 10)" (input)="formatPhoneNumber($event,10)">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Facultad</mat-label>
                    <mat-select formControlName="facultad">
                        <mat-option *ngFor="let facultad of facultades" [value]="facultad">
                            {{facultad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="rolId">
                        @for (rol of roles; track rol) {
                        <mat-option [value]="rol.value">{{rol.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>


                <mat-form-field class="form-field">
                    <mat-label>Ingresa la contraseña</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password"
                        autocomplete="new-password" />
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="usuarioForm.get('password')?.hasError('required')">
                        La contraseña es requerida
                    </mat-error>
                    <mat-error *ngIf="usuarioForm.get('password')?.hasError('minlength')">
                        La contraseña debe tener al menos 8 caracteres
                    </mat-error>
                    <mat-error *ngIf="usuarioForm.get('password')?.hasError('pattern')">
                        La contraseña debe incluir mayúsculas y caracteres especiales
                    </mat-error>
                </mat-form-field>

            </form>
        </mat-tab>

    </mat-tab-group>
</div>

<div class="form-actions">
    <button mat-raised-button routerLink="/layout/usuarios" color="warn">Cancelar</button>
    <button mat-raised-button color="accent" (click)="onSave()">Guardar usuario</button>
</div>