<div>
  <div>
    <mat-tab-group animationDuration="0s" class="Formulario" color="accent">

      <!-- Pestaña 1: Identificación -->
      <mat-tab label="Identificación">
        <form [formGroup]="pacienteForm" class="seccion">

          <mat-form-field class="form-field" color="accent">
            <mat-label>Tipo de Paciente</mat-label>
            <mat-select formControlName="tipo_paciente">
              <mat-option value="Estudiante">Estudiante</mat-option>
              <mat-option value="Docente">Docente</mat-option>
              <mat-option value="Administrativo">Administrativo</mat-option>
              <mat-option value="Externo">Externo</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field" color="accent">
            <mat-label>CURP</mat-label>
            <input matInput formControlName="curp" maxlength="18" oninput="this.value = this.value.toUpperCase()">
            <mat-hint align="end">{{ pacienteForm.get('curp')?.value?.length || 0 }} / 18</mat-hint>
          </mat-form-field>

          <mat-form-field class="form-field" color="accent">
            <mat-label>Nombre completo</mat-label>
            <input matInput formControlName="nombre">
          </mat-form-field>

          <mat-form-field class="form-field" color="accent" (click)="picker.open()">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" readonly
              formControlName="fecha_nacimiento">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="form-field" color="accent">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo">
              <mat-option value="MASCULINO">Masculino</mat-option>
              <mat-option value="FEMENINO">Femenino</mat-option>
              <mat-option value="OTRO">Otro</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field" color="accent">
            <mat-label>Estado civil</mat-label>
            <mat-select formControlName="estado_civil">
              <mat-option value="Soltero(a)">Soltero(a)</mat-option>
              <mat-option value="Casado(a)">Casado(a)</mat-option>
              <mat-option value="Divorciado(a)">Divorciado(a)</mat-option>
              <mat-option value="Viudo(a)">Viudo(a)</mat-option>
              <mat-option value="Unión Libre">Unión Libre</mat-option>
              <mat-option value="Separado(a)">Separado(a)</mat-option>
              <mat-option value="Otros">Otro</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field" color="accent">
            <mat-label>Lugar de Origen</mat-label>
            <input matInput formControlName="origen">
          </mat-form-field>

        </form>
      </mat-tab>

      <!-- Pestaña 2: Contacto y Ubicación -->
      <mat-tab label="Contacto y Ubicación">
        <form [formGroup]="pacienteForm" class="seccion">

          <h3>Contacto Personal</h3>
          <mat-form-field class="form-field" color="accent">
            <mat-label>Teléfono</mat-label>
            <span matTextPrefix>+52 &nbsp;</span>
            <input matInput formControlName="telefono" maxlength="14" (input)="formatPhoneNumber($event, 10)">
          </mat-form-field>

          <mat-form-field class="form-field" color="accent">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput formControlName="email" type="email">
          </mat-form-field>

          <h3>Domicilio</h3>
          <div class="grid-2-col">
            <mat-form-field class="form-field" color="accent">
              <mat-label>Calle</mat-label>
              <input matInput formControlName="calle">
            </mat-form-field>
            <div class="grid-2-col-inner">
              <mat-form-field class="form-field" color="accent">
                <mat-label>No. Ext</mat-label>
                <input matInput formControlName="numero_exterior">
              </mat-form-field>
              <mat-form-field class="form-field" color="accent">
                <mat-label>No. Int</mat-label>
                <input matInput formControlName="numero_interior">
              </mat-form-field>
            </div>
          </div>

          <div class="grid-2-col">
            <div>
              <mat-form-field class="form-field" color="accent">
                <mat-label>Código Postal</mat-label>
                <input matInput formControlName="cp" maxlength="5">
              </mat-form-field>
              <mat-error *ngIf="postalCodeError">{{ postalCodeError }}</mat-error>
            </div>

            <mat-form-field class="form-field" color="accent">
              <mat-label>Colonia / Asentamiento</mat-label>
              <mat-select formControlName="colonia">
                <mat-option *ngFor="let col of colonias" [value]="col">
                  {{col}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid-2-col">
            <mat-form-field class="form-field" color="accent">
              <mat-label>Municipio / Alcaldía</mat-label>
              <input matInput formControlName="municipio">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Entidad Federativa</mat-label>
              <input matInput formControlName="entidad_federativa">
            </mat-form-field>
          </div>

          <h3>Responsable Legal / Contacto Emergencia</h3>
          <mat-form-field class="form-field" color="accent">
            <mat-label>Nombre Completo</mat-label>
            <input matInput formControlName="nombre_responsable">
          </mat-form-field>

          <div class="grid-2-col">
            <mat-form-field class="form-field" color="accent">
              <mat-label>Parentesco</mat-label>
              <mat-select formControlName="parentesco_responsable">
                <mat-option value="Padre">Padre</mat-option>
                <mat-option value="Madre">Madre</mat-option>
                <mat-option value="Tutor">Tutor</mat-option>
                <mat-option value="Cónyuge">Cónyuge</mat-option>
                <mat-option value="Otro">Otro</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Teléfono Responsable</mat-label>
              <input matInput formControlName="telefono_responsable" maxlength="14"
                (input)="formatPhoneNumber($event, 10)">
            </mat-form-field>
          </div>

          <div class="grid-2-col">
            <mat-form-field class="form-field" color="accent">
              <mat-label>Calle</mat-label>
              <input matInput formControlName="calle_responsable">
            </mat-form-field>
            <div class="grid-2-col-inner">
              <mat-form-field class="form-field" color="accent">
                <mat-label>No. Ext</mat-label>
                <input matInput formControlName="numero_exterior_responsable">
              </mat-form-field>
              <mat-form-field class="form-field" color="accent">
                <mat-label>No. Int</mat-label>
                <input matInput formControlName="numero_interior_responsable">
              </mat-form-field>
            </div>
          </div>

          <div class="grid-2-col">
            <div>
              <mat-form-field class="form-field" color="accent">
                <mat-label>Código Postal</mat-label>
                <input matInput formControlName="cp_responsable" maxlength="5">
              </mat-form-field>
              <mat-error *ngIf="postalCodeError">{{ postalCodeError }}</mat-error>
            </div>

            <mat-form-field class="form-field" color="accent">
              <mat-label>Colonia / Asentamiento</mat-label>
              <mat-select formControlName="colonia_responsable">
                <mat-option *ngFor="let col of colonias_responsable" [value]="col">
                  {{col}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid-2-col">
            <mat-form-field class="form-field" color="accent">
              <mat-label>Municipio / Alcaldía</mat-label>
              <input matInput formControlName="municipio_responsable">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Entidad Federativa</mat-label>
              <input matInput formControlName="entidad_federativa_responsable">
            </mat-form-field>
          </div>

        </form>
      </mat-tab>

      <!-- Pestaña 3: Afiliación Institucional -->
      <mat-tab label="Afiliación Institucional">
        <form [formGroup]="pacienteForm" class="seccion">

          <mat-form-field class="form-field" color="accent">
            <mat-label>NSS (Seguridad Social)</mat-label>
            <input matInput formControlName="nss" maxlength="11">
          </mat-form-field>

          <!-- Campos Estudiante -->
          <div *ngIf="isStudent">
            <h3>Datos Escolares</h3>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Matrícula</mat-label>
              <input matInput formControlName="matricula">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Facultad</mat-label>
              <mat-select formControlName="facultad">
                <mat-option *ngFor="let facultad of facultades" [value]="facultad">
                  {{facultad}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Programa Educativo</mat-label>
              <input matInput formControlName="programa_educativo">
            </mat-form-field>
            <div class="grid-2-col">
              <mat-form-field class="form-field" color="accent">
                <mat-label>Semestre</mat-label>
                <input matInput formControlName="semestre">
              </mat-form-field>
              <mat-form-field class="form-field" color="accent">
                <mat-label>Grupo</mat-label>
                <input matInput formControlName="grupo">
              </mat-form-field>
            </div>
          </div>

          <!-- Campos Trabajador -->
          <div *ngIf="isWorker">
            <h3>Datos Laborales</h3>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Número de Personal</mat-label>
              <input matInput formControlName="numero_personal">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Puesto</mat-label>
              <input matInput formControlName="puesto">
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Facultad de Adscripción</mat-label>
              <mat-select formControlName="facultad">
                <mat-option *ngFor="let facultad of facultades" [value]="facultad">
                  {{facultad}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="form-field" color="accent">
              <mat-label>Tipo de Contratación</mat-label>
              <mat-select formControlName="tipo_contratacion">
                <mat-option value="Base">Base</mat-option>
                <mat-option value="Eventual">Eventual</mat-option>
                <mat-option value="Confianza">Confianza</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </form>
      </mat-tab>

      <!-- Pestaña 4: Sociodemográfico y Legal -->
      <mat-tab label="Sociodemográfico y Legal">
        <form [formGroup]="pacienteForm" class="seccion">

          <mat-form-field class="form-field" color="accent">
            <mat-label>Religión</mat-label>
            <input matInput formControlName="religion">
          </mat-form-field>

          <mat-form-field class="form-field" color="accent">
            <mat-label>Escolaridad</mat-label>
            <input matInput formControlName="escolaridad">
          </mat-form-field>

          <div class="checkbox-container">
            <mat-checkbox [ngModel]="hablaLenguaIndigena" (ngModelChange)="onHablaLenguaIndigenaChange($event)"
              [ngModelOptions]="{standalone: true}" color="primary">Habla Lengua Indígena</mat-checkbox>
          </div>

          <mat-form-field class="form-field" color="accent" *ngIf="hablaLenguaIndigena">
            <mat-label>¿Cuál lengua?</mat-label>
            <input matInput formControlName="lengua_indigena">
          </mat-form-field>

        </form>
      </mat-tab>

    </mat-tab-group>
  </div>

  <div class="form-actions">
    <!-- <button mat-raised-button color="primary" (click)="generarPacienteAleatorio()">
      Generar Paciente Aleatorio
    </button> -->
    <button mat-raised-button routerLink="/layout/pacientes" color="warn">Cancelar</button>
    <button mat-raised-button color="accent" (click)="onSave()">Guardar Paciente</button>
  </div>

</div>