<div>
    <mat-tab-group animationDuration="0s" class="Formulario" color="accent">
        <!-- Información del Rol -->
        <mat-tab label="Información del rol">
            <form [formGroup]="rolForm" class="seccion" autocomplete="off">
                <mat-form-field class="form-field" color="accent">
                    <mat-label>Nombre del rol</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>

                <mat-form-field class="form-field" color="accent">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="descripcion">
                </mat-form-field>
            </form>
        </mat-tab>

        <!-- Permisos -->
        <mat-tab label="Permisos">

            <form [formGroup]="rolForm" class="seccion" autocomplete="off">
                <div class="permisos-tabla" formArrayName="permisos">

                    <div class="tabla-header">
                        <div class="celda recurso-header">Recurso</div>

                        <div *ngFor="let accion of acciones" class="celda">
                            {{ accion.nombre }}
                        </div>

                        <div class="celda toggle-header">Todas</div>
                    </div>


                    <div *ngFor="let permisoControl of permisosFormArray.controls; let i = index" [formGroupName]="i"
                        class="tabla-fila">

                        <div class="celda recurso-header">
                            {{ permisos[i].recurso }}
                        </div>

                        <div formArrayName="accionesIds" class="celda"
                            *ngFor="let accionControl of getAcciones(i).controls; let j = index">
                            <mat-checkbox [formControlName]="j"></mat-checkbox>
                        </div>

                        <div class="celda toggle-col">
                            <button mat-icon-button color="primary" (click)="toggleRecurso(i)">

                                <mat-icon>done_all</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>


            </form>
        </mat-tab>
    </mat-tab-group>
</div>

<div class="form-actions">
    <button mat-raised-button routerLink="/layout/roles" color="warn">Cancelar</button>
    <button mat-raised-button color="accent" (click)="onSave()">Guardar Rol</button>
    <!-- <button mat-raised-button color="accent" (click)="mostrarinfo()">MOSTRAR</button> -->
</div>