<div *ngIf="!selectedRegistroId; else embeddedView">
    <mat-tab-group animationDuration="0s" class="Formulario" color="accent">

        <!-- Pestaña 1: Identificación -->
        <mat-tab label="Identificación">
            <div class="seccion">
                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Tipo de Paciente</span>
                        <span class="data-value">{{ paciente?.tipo_paciente || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">CURP</span>
                        <span class="data-value">{{ paciente?.curp || 'N/A' }}</span>
                    </div>
                </div>

                <div class="data-item">
                    <span class="data-label">Nombre completo</span>
                    <span class="data-value">{{ paciente?.nombre || 'N/A' }}</span>
                </div>

                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Fecha de nacimiento</span>
                        <span class="data-value">{{ (paciente?.fecha_nacimiento | date:'dd/MM/yyyy') || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Sexo</span>
                        <span class="data-value">{{ paciente?.sexo || 'N/A' }}</span>
                    </div>
                </div>

                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Estado civil</span>
                        <span class="data-value">{{ paciente?.estado_civil || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Lugar de Origen</span>
                        <span class="data-value">{{ paciente?.origen || 'N/A' }}</span>
                    </div>
                </div>
            </div>
        </mat-tab>

        <!-- Pestaña 2: Contacto y Ubicación -->
        <mat-tab label="Contacto y Ubicación">
            <div class="seccion">

                <h3>Contacto Personal</h3>
                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Teléfono</span>
                        <span class="data-value">{{ paciente?.telefono ? '+52 ' + paciente?.telefono : 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Correo Electrónico</span>
                        <span class="data-value">{{ paciente?.email || 'N/A' }}</span>
                    </div>
                </div>

                <h3>Domicilio</h3>
                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Calle</span>
                        <span class="data-value">{{ paciente?.calle || 'N/A' }}</span>
                    </div>
                    <div class="grid-2-col-inner">
                        <div class="data-item">
                            <span class="data-label">No. Ext</span>
                            <span class="data-value">{{ paciente?.numero_exterior || 'N/A' }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">No. Int</span>
                            <span class="data-value">{{ paciente?.numero_interior || 'N/A' }}</span>
                        </div>
                    </div>
                </div>

                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Colonia / Asentamiento</span>
                        <span class="data-value">{{ paciente?.colonia || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Código Postal</span>
                        <span class="data-value">{{ paciente?.cp || 'N/A' }}</span>
                    </div>
                </div>

                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Municipio / Alcaldía</span>
                        <span class="data-value">{{ paciente?.municipio || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Entidad Federativa</span>
                        <span class="data-value">{{ paciente?.entidad_federativa || 'N/A' }}</span>
                    </div>
                </div>

                <h3>Responsable Legal / Contacto Emergencia</h3>
                <div class="data-item">
                    <span class="data-label">Nombre Completo</span>
                    <span class="data-value">{{ paciente?.nombre_responsable || 'N/A' }}</span>
                </div>

                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Parentesco</span>
                        <span class="data-value">{{ paciente?.parentesco_responsable || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Teléfono Responsable</span>
                        <span class="data-value">{{ paciente?.telefono_responsable || 'N/A' }}</span>
                    </div>
                </div>
                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Calle</span>
                        <span class="data-value">{{ paciente?.calle_responsable || 'N/A' }}</span>
                    </div>
                    <div class="grid-2-col-inner">
                        <div class="data-item">
                            <span class="data-label">No. Ext</span>
                            <span class="data-value">{{ paciente?.numero_exterior_responsable || 'N/A' }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">No. Int</span>
                            <span class="data-value">{{ paciente?.numero_interior_responsable || 'N/A' }}</span>
                        </div>
                    </div>
                </div>

                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Colonia / Asentamiento</span>
                        <span class="data-value">{{ paciente?.colonia_responsable || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Código Postal</span>
                        <span class="data-value">{{ paciente?.cp_responsable || 'N/A' }}</span>
                    </div>
                </div>

                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Municipio / Alcaldía</span>
                        <span class="data-value">{{ paciente?.municipio_responsable || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Entidad Federativa</span>
                        <span class="data-value">{{ paciente?.entidad_federativa_responsable || 'N/A' }}</span>
                    </div>
                </div>

            </div>
        </mat-tab>

        <!-- Pestaña 3: Afiliación Institucional -->
        <mat-tab label="Afiliación Institucional">
            <div class="seccion">

                <div class="data-item">
                    <span class="data-label">NSS (Seguridad Social)</span>
                    <span class="data-value">{{ paciente?.nss || 'N/A' }}</span>
                </div>

                <!-- Campos Estudiante -->
                <div *ngIf="paciente?.tipo_paciente === 'Estudiante'">
                    <h3>Datos Escolares</h3>
                    <div class="grid-2-col">
                        <div class="data-item">
                            <span class="data-label">Matrícula</span>
                            <span class="data-value">{{ paciente?.matricula || 'N/A' }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">Facultad</span>
                            <span class="data-value">{{ paciente?.facultad || 'N/A' }}</span>
                        </div>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Programa Educativo</span>
                        <span class="data-value">{{ paciente?.programa_educativo || 'N/A' }}</span>
                    </div>
                    <div class="grid-2-col">
                        <div class="data-item">
                            <span class="data-label">Semestre</span>
                            <span class="data-value">{{ paciente?.semestre || 'N/A' }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">Grupo</span>
                            <span class="data-value">{{ paciente?.grupo || 'N/A' }}</span>
                        </div>
                    </div>
                </div>

                <!-- Campos Trabajador (Docente o Administrativo) -->
                <div *ngIf="paciente?.tipo_paciente === 'Docente' || paciente?.tipo_paciente === 'Administrativo'">
                    <h3>Datos Laborales</h3>
                    <div class="grid-2-col">
                        <div class="data-item">
                            <span class="data-label">Número de Personal</span>
                            <span class="data-value">{{ paciente?.numero_personal || 'N/A' }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">Puesto</span>
                            <span class="data-value">{{ paciente?.puesto || 'N/A' }}</span>
                        </div>
                    </div>
                    <div class="grid-2-col">
                        <div class="data-item">
                            <span class="data-label">Facultad Adscripción</span>
                            <span class="data-value">{{ paciente?.facultad || 'N/A' }}</span>
                        </div>
                        <div class="data-item">
                            <span class="data-label">Tipo de Contratación</span>
                            <span class="data-value">{{ paciente?.tipo_contratacion || 'N/A' }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </mat-tab>

        <!-- Pestaña 4: Sociodemográfico y Legal -->
        <mat-tab label="Sociodemográfico y Legal">
            <div class="seccion">

                <div class="grid-2-col">
                    <div class="data-item">
                        <span class="data-label">Religión</span>
                        <span class="data-value">{{ paciente?.religion || 'N/A' }}</span>
                    </div>
                    <div class="data-item">
                        <span class="data-label">Escolaridad</span>
                        <span class="data-value">{{ paciente?.escolaridad || 'N/A' }}</span>
                    </div>
                </div>

                <div class="data-item">
                    <span class="data-label">Lengua Indígena</span>
                    <span class="data-value">
                        {{ paciente?.lengua_indigena ? 'Sí, habla ' + paciente?.lengua_indigena : 'No habla lengua
                        indígena' }}
                    </span>
                </div>

            </div>
        </mat-tab>

        <!-- Registros -->
        <mat-tab label="Registros">
            <div class="seccion registros-container" *ngIf="(paciente?.registros?.length ?? 0) > 0; else sinRegistros">
                <div class="registros-grid">
                    <mat-card *ngFor="let registro of paciente?.registros" class="registro-card">
                        <mat-card-header>
                            <div mat-card-avatar class="registro-avatar">
                                <mat-icon>description</mat-icon>
                            </div>
                            <mat-card-title>{{ registro.tipo_registro }}</mat-card-title>
                            <mat-card-subtitle>{{ registro.fecha_creacion | date:'dd/MM/yyyy HH:mm'
                                }}</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <mat-card-content>
                            <p class="registro-id">ID: {{ registro.registro_id }}</p>
                        </mat-card-content> -->
                        <mat-card-actions align="end">
                            <button mat-button color="primary"
                                [disabled]="!authService.tienePermiso('pacientes', 'Ver')"
                                (click)="datos(registro.registro_id, registro.tipo_registro)">
                                <mat-icon>visibility</mat-icon> VER DETALLES
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>

            <ng-template #sinRegistros>
                <div class="no-registros">
                    <mat-icon>folder_off</mat-icon>
                    <p>No hay registros disponibles.</p>
                </div>
            </ng-template>
        </mat-tab>

    </mat-tab-group>
</div>

<div class="form-actions" *ngIf="!isSidenav">
    <button mat-raised-button routerLink="/layout/pacientes" color="warn">Regresar</button>
    <button mat-raised-button color="accent" (click)="crearRegistro()">Crear Registro</button>
</div>

<ng-template #embeddedView>
    <div class="embedded-view-container">
        <div class="embedded-header">
            <button mat-icon-button (click)="clearSelection()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h3>Detalles del Registro</h3>
        </div>

        <app-historia-data *ngIf="selectedRegistroType === 'Historia Clínica'" [registroIdInput]="selectedRegistroId"
            [isEmbedded]="true" [sexoPaciente]="paciente?.sexo || ''">
        </app-historia-data>

        <app-nota-data *ngIf="selectedRegistroType === 'Nota de Evolución'" [registroIdInput]="selectedRegistroId"
            [isEmbedded]="true">
        </app-nota-data>
    </div>
</ng-template>